
{% extends "layout.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">Discount application complete</h1>
      <h2 class="govuk-panel__body">Your discount code 123abc456def</h2>

    </div>

    <h3 class="govuk-heading-s govuk-!-margin-top-8">What happens next</h3>

    <p class="govuk-body">
      You will get an email to confirm your <a href="#" class="govuk-!-font-weight-bold">Cashoo</a>
      discount code.
    </p>

    <p class="govuk-body">
      You can then go to the supplier’s website to get 50% or £5,000 (excluding VAT) off the cost of
      your software.
    </p>

    <p class="govuk-body">
      You will need to use your discount within the next 30 days. If your discount expires,
      you will need to submit your application again.
    </p>


    <form action="../account/dashboard">
      <button class="govuk-button email-address" data-module="govuk-button">Go back to my account</button>
    </form>

  </div>

</div>

{% endblock %}
