{% extends "layout_accounts.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      Are you an existing customer of  Cashoo?
    </h1>


    <p class="govuk-body">This is because <strong>Cashoo</strong> is <strong>not</strong> a major upgrade.</p>

    <h2 class="govuk-heading-m">Contact us</h2>

    <p class="body">
      If you would like to enquire about this decision, you can contact the Help to Grow: Digital team at:
      <a href="#">sme.helptogrow@beis.gov.uk</a>.
    </p>

    <p class="body">
      For further guidance on Help to Grow: Digital please visit: <a href="#">general guidance</a>.
    </p>

  </div>


</div>

{% endblock %}
