
{% extends "layout_accounts.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Here’s an overview of your answers</h1>

    <p class="govuk-body">Sumbit the change to your account details and recieve a confirmation via email.</p>

    <h3 class="govuk-heading-m">Your details</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          <!-- {{ data['select-software'] }} -->
          <!--Insert business name-->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="name">
            Change
            <span class="govuk-visually-hidden">Full name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job title or role
        </dt>
        <dd class="govuk-summary-list__value">
          <!-- {{ data['select-software'] }} -->
          <!--insert job title or role-->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="role">
            Change
            <span class="govuk-visually-hidden">Job title or role</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          <!-- {{ data['email'] }} -->
          <!--insert phone number-->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="phone">
            Change
            <span class="govuk-visually-hidden">Phone number</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <!--          {{ data['business-role'] }}-->
          <!--insert email address -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="email">
            Change
            <span class="govuk-visually-hidden">Email address</span>
          </a>
        </dd>
      </div>

    </dl>


    <div class="govuk-warning-text govuk-inset-text">
      <span class="govuk-warning-text__icon govuk-!-margin-left-2" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text govuk-!-padding-left-9">
        <span class="govuk-warning-text__assistive">Warning</span>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</strong>
    </div>


    <form action="confirmation" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm changes
      </button>

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel changes
      </button>

    </form>

  </div>

</div>

{% endblock %}
