
{% extends "layout.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">Your details have been changed</h1>
      <h2 class="govuk-panel__body">Confirmation has been sent to:<br><strong>john.smith@account.com</strong></h2>

    </div>

    <h3 class="govuk-heading-s govuk-!-margin-top-8">You have made changes to your account details.</h3>

    <p class="govuk-body">
      We have sent an email confirmations to: <br><strong>john.smith@account.com</strong></p>



    <h3 class="govuk-heading-s govuk-!-margin-top-8">I didn't get the email</h3>

    <p class="govuk-body">
      Check your junk or spam folder. If you still do not receive the email, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>enter your email address again</li>
      <li>ask us to resend the email</li>
    </ul>


    <form action="../account/manage_users">
      <button class="govuk-button email-address" data-module="govuk-button">Return to account</button>
    </form>

  </div>

</div>

{% endblock %}
