
{% extends "layout_accounts_no_subnav.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<style>

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a:first-child {
    font-weight: 700;
  }

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a {
    color: #000
  }

</style>

<div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#job-title">Enter your email address</a>
      </li>
    </ul>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="verify " method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="email-address">
          About you
        </label></h1>

        <h3 class="govuk-heading-s govuk-!-margin-top-8">Which email address did you use to register your Help to Grow: Digital account?</h3>

        <p class="body-text">We will send you a link to confirm your email address.</p>

        <label for="email-address" class="govuk-label govuk-!-margin-top-4">Email address</label>

        <div id="applicant-name-hint" class="govuk-hint">We need this to complete registration of your account</div>

        <span style="display:none" id="email-address" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Enter your email address
          </span>
        <input class="govuk-input" id="email-address-1" name="email-address" type="text" spellcheck="false" autocomplete="name" aria-describedby="email-address-hint">

      </div>

      <button class="govuk-button job-title" data-module="govuk-button">Next</button>

    </form>

  </div>

</div>

{% endblock %}
