
{% extends "layout_accounts_subnav_signin.html" %}

{% block pageTitle %}
  Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<style>

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a:first-child {
    font-weight: 700;
  }

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a {
    color: #000
  }

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="navigation-breadcrumb" id="12">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <a href="/" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
            <a href="#" id="breadcrumb-link-get-your-software-discount-0">Sign in or register</a><span class="next-pointer"> &gt; </span>
            <span>Sign into your account</span>
          </div>
        </div>
      </div>
    </div>


    <h1 class="govuk-heading-l govuk-!-padding-top-6">Sign in</h1>

    <p class="govuk-body-l">
      Sign in to your account with the email address you used to set it up. We’ll then send you an email with a secure unique link to access your account.
    </p>

    <form class="form" action="" method="">
      <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Sign in
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>
    </form>



    <h2 class="govuk-heading-m">
      Need to register an account?
    </h2>

    <p class="body-text">
      Register an account to manage your discount, save product comparisons, and access personalised advice and learning.
    </p>

    <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/Arrow1_a55c240ba4.svg" class="beis-link-icon" width="23" height="24">

    <a id="link-cmspageviews-2columns-find-your-software-448" class="govuk-link" href="#" aria-label="Register for an account" style="font-weight: 700">
      Register for an account
    </a>

  </div>
</div>

{% endblock %}
