
{% extends "layout.html" %}

{% block pageTitle %}
  Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<p><a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="start">Back</a></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-label govuk-label--l">
      Verify your account</h1>


    <h2 class="govuk-heading-m govuk-!-margin-top-8">Confirm your email address</h2>

    <p class="govuk-body">
      We have sent an email to: <strong>john.smith@account.com</strong>
    </p>

    <p class="govuk-body">
      Follow the unique link in the email to sign in to your Help to Grow: Digital account. </p>

    <div class="govuk-warning-text govuk-inset-text">
      <span class="govuk-warning-text__icon govuk-!-margin-left-2" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text govuk-!-padding-left-9">
        <span class="govuk-warning-text__assistive">Warning</span>
        Your unique link will expire after 5 minutes.</strong>
    </div>


    <h3 class="govuk-heading-s govuk-!-margin-top-8">Not received the email?</h3>

    <p class="govuk-body">
      Check your junk or spam folder. If you still do not receive the email, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>enter your email address again</li>
      <li>ask us to resend the email</li>
    </ul>


    <form action="../account/dashboard" class="govuk-!-margin-top-8">
      <button class="govuk-button email-address" data-module="govuk-button">Go to my account</button>
    </form>


  </div>


</div>

{% endblock %}
