.beis-htg-logo {
    width:400px;
}

.govuk-header__container {
    border-bottom: 10px solid #FFB000;
}

.govuk-footer__copyright-logo {
    background-image: url(../images/govuk-crest.png);
}

.govuk-sub-pages-menu {
    top: auto;
    right: 0;
    bottom: -45px;
    left: 0;
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
}


.govuk-sub-pages-menu li {
    display: inline-block;
    display: inline-block;
    margin-right: 11px;
    font-weight: 700;
    font-size: 1rem;
}

/*Fonts path*/
@font-face {
    font-family:GDS Transport;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/light-94a07e06a1-v2.woff2) format("woff2"),url(../fonts/light-f591b13f7d-v2.woff) format("woff"); 
    font-display:fallback
}
@font-face { 
    font-family:GDS Transport; 
    font-style:normal; 
    font-weight:700;
    src:url(../fonts/bold-b542beb274-v2.woff2) format("woff2"),url(../fonts/bold-affa96571d-v2.woff) format("woff");
    font-display:fallback
}

.govuk-template { background-color: #f3f2f1; }
.govuk-footer { background: #f3f2f1; }

@media (min-width: 40.0625em) {
    .govuk-main-wrapper { padding-top: 10px; padding-bottom: 40px;
    }
}


