
{% extends "layout_accounts.html" %}

{% block pageTitle %}
  Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">Your invite has been sent</h1>
      <h2 class="govuk-panel__body">New user request for:<br><strong>Bobby Wright</strong></h2>

    </div>

    <h3 class="govuk-heading-s govuk-!-margin-top-8">What happens next</h3>

    <p class="govuk-body">
      We have sent an email to <a href="#">bobby.wright@account.com</a> asking them to confirm their email address.
      You will also recieve an email confirmation.</p>



    <h3 class="govuk-heading-s govuk-!-margin-top-8">Not received the email?</h3>

    <p class="govuk-body">
      Check your junk or spam folder. If you still do not receive the email, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>enter your email address again</li>
      <li>ask us to resend the email</li>
    </ul>


    <form action="../account/overview">
      <button class="govuk-button email-address" data-module="govuk-button">Go back to my account</button>
    </form>

  </div>

</div>

{% endblock %}
