
{% extends "layout_accounts_subnav.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#email-address">Enter their email address</a>
      </li>
    </ul>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="check_answers" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="email-address">
          New user details
        </label></h1>

        <h3 class="govuk-heading-s govuk-!-margin-top-8">What is their email-address?</h3>
        <p class="govuk-body">We will send them a link to confirm their email address and notify them of their new account.</p>

        <label for="email-address" class="govuk-label govuk-!-margin-top-8">Email address</label>

        <span style="display:none" id="email-address" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Enter your email-address
          </span>
        <input class="govuk-input" id="email-address-1" name="email-address" type="text" spellcheck="false" autocomplete="name" aria-describedby="job-title-hint">

      </div>

      <button class="govuk-button email-address" data-module="govuk-button">Next</button>

    </form>

  </div>

</div>

{% endblock %}
