
{% extends "layout_accounts_subnav.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#job-title">Enter your job title or role</a>
      </li>
    </ul>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="phone" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="job-title">
          Your details
        </label></h1>

        <h3 class="govuk-heading-s govuk-!-margin-top-8">What is their job title or role?</h3>

        <label for="job-title" class="govuk-label govuk-!-margin-top-4">Job title or role</label>
        <span style="display:none" id="job-title" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Enter their job title or role
          </span>
        <input class="govuk-input" id="job-title-1" name="job-title" type="text" spellcheck="false" autocomplete="name" aria-describedby="job-title-hint">

      </div>

      <button class="govuk-button job-title" data-module="govuk-button">Next</button>

    </form>

  </div>

</div>

{% endblock %}
