{% extends "layout_accounts.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<style>
    .beis-navy-blue {
        background-color: #1E1A34;
        display: block;
        height: 343px;
    }

    .beis-columns {
        float: right;
        color: #ffffff;
        /*border: 1px solid white;*/
        width: 300px;
    }

    .beis_columns_text {
        width: 60% !important;
        float: left !important;
    }

    .beis-white-text {
        color: #ffffff;
    }

    .govuk-\!-padding-right-8 {
        padding-right: 50px !important;

    }

    .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a:first-child {
        font-weight: 700;
    }

    .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a {
        color: #000
    }

    .govuk-header-yellow-line {
        border-bottom:10px solid #FFB000;
        margin:0;
    }

    /* product css*/

    .compare-products {
        text-align: right;
    }

    .top-line{
        background: #1C1C78;
        height: 10px;
        margin: 10px 0 0 0;
        display: block;
        box-sizing: border-box;
    }

    .frame {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        border: 1px solid rgba(28, 28, 120, 0.3);
        padding: 20px;
    }

    .product-image {
        margin: 0 40px;
        width: 120px;
        text-align: center;
    }

    .govuk-grid-row {
        margin-right: initial;
        margin-left: initial;
    }

    a.govuk-link:link, a.govuk-link:visited {
        font-weight: 700;
        color: #1D70B8;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-actions {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        align-items: end;
        min-width: 180px;
        justify-content: center;
    }

    .govuk-button.compare {
        background-color: #FFFFFF;
        color: #0B0C0C;
        border-color: #000000;
        border-width: 1px;
        text-decoration: none;
        width: 9.063rem;
    }

    .govuk-button.discount {
        background-color: #1C1C78;
        color: #FFFFFF !important;
        border-color: #000000;
        border-width: 1px;
        width: 9.063rem;
    }


    .govuk-button:link, .govuk-button:visited, .govuk-button:active, .govuk-button:hover {
        text-decoration: none;
    }

    .govuk-button.primary {
        background-color: #24249C;
        color: #fff;
    }

    .compare-btn {
        margin: 10px 0 0 0;
    }

</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="padding: 0">

        <div class="navigation-breadcrumb" id="12">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-body" style="padding: 0">
                        <a href="/home" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
                        <a href="#" id="breadcrumb-link-get-your-software-discount-0">Find software</a><span class="next-pointer"> &gt; </span>
                        <span>Software available on the scheme</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="govuk-width-container beis-navy-blue">
            <div class="beis-columns beis_columns_text">
                <h1 class="govuk-!-padding-right-8 govuk-heading-l beis-white-text govuk-!-margin-bottom-3 govuk-!-margin-top-9">
                    Get your software discount
                </h1>
                <!--        <div class="govuk-body govuk-!-padding-right-8 govuk-!-width-one-half">-->
                <div class="">
                    <p class="beis-white-text">Explore the software available including cost, features, and any
                        additional support
                        available.
                    </p>
                    <p class="beis-white-text">The Help to Grow: Digital discount is subject to business eligibility.
                        <a href="#" style="color:#fff">Check if you are eligible here</a> .
                    </p>
                </div>

            </div>

            <div class="beis-columns">
                <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/image_28_faa4546409.png"
                     height="343px" width="300px" class="hero-mobile-image">
            </div>

            <div>

            </div>

        </div>


        <div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">

            <div class="govuk-grid-row govuk-!-padding-top-6">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl govuk-!-padding-top-3 govuk-!-margin-0">Filter software</h1>
                </div>

            </div>
            <div class="govuk-header-yellow-line">

            </div>


            <div class="govuk-form-group govuk-!-margin-3">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input productCategory" data-id="crm" name="categoryId-2" id="categoryId-crm" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="categoryId-crm">
                                Customer Relationship Management
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input productCategory" data-id="accounting" name="categoryId-1" id="categoryId-accounting" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="categoryId-accounting">
                                Digital Accounting
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input productCategory" data-id="ecommerce" name="categoryId-3" id="categoryId-ecommerce" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="categoryId-ecommerce">
                                eCommerce
                            </label>
                        </div>

                    </div>

                </fieldset>
            </div>

        </div>

        <div class="govuk-grid-row" id="allProductsDiv">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-padding-top-3">All products</h1>
            </div>
        </div>


        <div class="formDiv" id="formDiv-accounting" style="display: block;">
            <form action="/comparison_tool/product_comparison" id="1" method="post">            <input type="hidden" name="selectedProductCategoryIds">
                <input type="hidden" name="selectedProductIds">
                <div class="govuk-grid-row govuk-!-margin-top-8">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l govuk-!-margin-0">Digital accounting software</h2>
                    </div>
                    <div class="govuk-grid-column-one-third compare-products">
                        <input type="submit" id="submit-comparisontoolviews-productcategory-compare-products" name="compare products" class="compareButton govuk-button compare-btn primary" value="Compare products">
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="top-line"></div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row frame">
                            <div class="product-image">
                                <div class="image-mask">
                                    <img src="https://www.manage-your-technology-vendor-account.service.gov.uk/uploads/quickbooks-110x110.jpg" alt="">
                                </div>
                                <a id="link-comparisontoolviews-productcategory-website-quickbooks-online---plus-16" href="https://quickbooks.intuit.com/uk/?ds_rl=1263531&amp;cid=ppc_G_QB_UK_GGL_B_Quickbooks_LongTail_Exact_Search_ALL_quickbooks+pricing_txt&amp;ds_rl=1263531&amp;gclid=CjwKCAjwmqKJBhAWEiwAMvGt6ADDvLbTKQWbEQO3FODl1-XCirEhthyC5OJ0s4JFTCxE_5orgdJZgRoC67EQAvD_BwE&amp;gclsrc=aw.ds" class="govuk-link">QuickBooks Online - Plus</a>
                            </div>
                            <div class="product-details">
                                <div class="govuk-body ">
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum contract term:</strong> 1 month</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Payment term:</strong> Per month, fixed number of users</p>
                                    <p class="govuk-!-margin-bottom-2">
                                        <strong>Price (excl. VAT):</strong>
                                        £32.00, Per month
                                        <span> for 5 users</span>
                                    </p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum number of licences:</strong> 1</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Free trial:</strong> No</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Contract discount:</strong> 12 months at 75% off</p>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a id="link-comparisontoolviews-productcategory-features-quickbooks-online---plus-16" type="button" aria-label="See features on QuickBooks Online - Plus" class="govuk-button compare" data-module="govuk-button" href="product_detail">
                                    See features
                                </a>
                                <a ga-data-action-id="link-comparisontoolviews-productcategory-compare-quickbooks-online---plus-16" aria-label="include QuickBooks Online - Plus" class="govuk-button button__input compare" data-module="govuk-button" id="prod-16" href="product_comparison">
                                    + Compare
                                </a>
                                <a id="link-comparisontoolviews-productcategory-get-discount-quickbooks-online---plus-16" type="button" aria-label="Select QuickBooks Online - Plus" class="govuk-button discount" data-module="govuk-button" href="/logged_in_account/start">
                                    Get discount
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="top-line"></div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row frame">
                            <div class="product-image">
                                <div class="image-mask">
                                    <img src="https://www.manage-your-technology-vendor-account.service.gov.uk/uploads/New logo270522121021.jpg" alt="">
                                </div>
                                <a id="link-comparisontoolviews-productcategory-website-sage-business-cloud-accounting---start-7" href="https://www.sage.com/en-gb/help-to-grow/?utm_source=helptogrow&amp;utm_medium=sitelink&amp;utm_campaign=helptogrowwave1" class="govuk-link">Sage Business Cloud Accounting - Start</a>
                            </div>
                            <div class="product-details">
                                <div class="govuk-body ">
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum contract term:</strong> 1 month</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Payment term:</strong> Per month, fixed number of users</p>
                                    <p class="govuk-!-margin-bottom-2">
                                        <strong>Price (excl. VAT):</strong>
                                        £12.00, Per month
                                        <span> for 1 user</span>
                                    </p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum number of licences:</strong> 1</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Free trial:</strong> No</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Contract discount:</strong> 6 months at 100% off</p>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a id="link-comparisontoolviews-productcategory-features-sage-business-cloud-accounting---start-7" type="button" aria-label="See features on Sage Business Cloud Accounting - Start" class="govuk-button compare" data-module="govuk-button" href="product_detail">
                                    See features
                                </a>
                                <a ga-data-action-id="link-comparisontoolviews-productcategory-compare-sage-business-cloud-accounting---start-7" aria-label="include Sage Business Cloud Accounting - Start" class="govuk-button button__input compare" data-module="govuk-button" id="prod-7" href="product_comparison">
                                    + Compare
                                </a>
                                <a id="link-comparisontoolviews-productcategory-get-discount-sage-business-cloud-accounting---start-7" type="button" aria-label="Select Sage Business Cloud Accounting - Start" class="govuk-button discount" data-module="govuk-button" href="/logged_in_account/start">
                                    Get discount
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="top-line"></div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row frame">
                            <div class="product-image">
                                <div class="image-mask">
                                    <img src="https://www.manage-your-technology-vendor-account.service.gov.uk/uploads/quickbooks-110x110.jpg" alt="">
                                </div>
                                <a id="link-comparisontoolviews-productcategory-website-quickbooks-online---essentials-15" href="https://quickbooks.intuit.com/uk/?ds_rl=1263531&amp;cid=ppc_G_QB_UK_GGL_B_Quickbooks_LongTail_Exact_Search_ALL_quickbooks+pricing_txt&amp;ds_rl=1263531&amp;gclid=CjwKCAjwmqKJBhAWEiwAMvGt6ADDvLbTKQWbEQO3FODl1-XCirEhthyC5OJ0s4JFTCxE_5orgdJZgRoC67EQAvD_BwE&amp;gclsrc=aw.ds" class="govuk-link">QuickBooks Online - Essentials</a>
                            </div>
                            <div class="product-details">
                                <div class="govuk-body ">
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum contract term:</strong> 1 month</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Payment term:</strong> Per month, fixed number of users</p>
                                    <p class="govuk-!-margin-bottom-2">
                                        <strong>Price (excl. VAT):</strong>
                                        £22.00, Per month
                                        <span> for 3 users</span>
                                    </p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum number of licences:</strong> 1</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Free trial:</strong> No</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Contract discount:</strong> 12 months at 75% off</p>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a id="link-comparisontoolviews-productcategory-features-quickbooks-online---essentials-15" type="button" aria-label="See features on QuickBooks Online - Essentials" class="govuk-button compare" data-module="govuk-button" href="product_detail">
                                    See features
                                </a>
                                <a ga-data-action-id="link-comparisontoolviews-productcategory-compare-quickbooks-online---essentials-15" aria-label="include QuickBooks Online - Essentials" class="govuk-button button__input compare" data-module="govuk-button" id="prod-15" href="product_comparison">
                                    + Compare
                                </a>
                                <a id="link-comparisontoolviews-productcategory-get-discount-quickbooks-online---essentials-15" type="button" aria-label="Select QuickBooks Online - Essentials" class="govuk-button discount" data-module="govuk-button" href="/logged_in_account/start">
                                    Get discount
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="top-line"></div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row frame">
                            <div class="product-image">
                                <div class="image-mask">
                                    <img src="https://www.manage-your-technology-vendor-account.service.gov.uk/uploads/crunch-pro 110x110 (1).jpg" alt="">
                                </div>
                                <a id="link-comparisontoolviews-productcategory-website-crunch-pro---full-accountancy-solution-17" href="https://www.crunch.co.uk/what-we-do/accounting-limited-companies" class="govuk-link">Crunch Pro - Full accountancy solution</a>
                            </div>
                            <div class="product-details">
                                <div class="govuk-body ">
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum contract term:</strong> 1 month</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Payment term:</strong> Per month, fixed number of users</p>
                                    <p class="govuk-!-margin-bottom-2">
                                        <strong>Price (excl. VAT):</strong>
                                        £75.50, Per month
                                        <span> for 4 users</span>
                                    </p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum number of licences:</strong> 1</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Free trial:</strong> No</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Contract discount:</strong> None</p>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a id="link-comparisontoolviews-productcategory-features-crunch-pro---full-accountancy-solution-17" type="button" aria-label="See features on Crunch Pro - Full accountancy solution" class="govuk-button compare" data-module="govuk-button" href="product_detail">
                                    See features
                                </a>
                                <a ga-data-action-id="link-comparisontoolviews-productcategory-compare-crunch-pro---full-accountancy-solution-17" aria-label="include Crunch Pro - Full accountancy solution" class="govuk-button button__input compare" data-module="govuk-button" id="prod-17" href="product_comparison">
                                    + Compare
                                </a>
                                <a id="link-comparisontoolviews-productcategory-get-discount-crunch-pro---full-accountancy-solution-17" type="button" aria-label="Select Crunch Pro - Full accountancy solution" class="govuk-button discount" data-module="govuk-button" href="/logged_in_account/start">
                                    Get discount
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="top-line"></div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row frame">
                            <div class="product-image">
                                <div class="image-mask">
                                    <img src="https://www.manage-your-technology-vendor-account.service.gov.uk/uploads/New logo270522121235.jpg" alt="">
                                </div>
                                <a id="link-comparisontoolviews-productcategory-website-sage-business-cloud-accounting---plus-9" href="https://www.sage.com/en-gb/help-to-grow/?utm_source=helptogrow&amp;utm_medium=sitelink&amp;utm_campaign=helptogrowwave1" class="govuk-link">Sage Business Cloud Accounting - Plus</a>
                            </div>
                            <div class="product-details">
                                <div class="govuk-body ">
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum contract term:</strong> 1 month</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Payment term:</strong> Per month, unlimited users</p>
                                    <p class="govuk-!-margin-bottom-2">
                                        <strong>Price (excl. VAT):</strong>
                                        £33.00, Per month
                                    </p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum number of licences:</strong> 1</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Free trial:</strong> No</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Contract discount:</strong> 6 months at 100% off</p>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a id="link-comparisontoolviews-productcategory-features-sage-business-cloud-accounting---plus-9" type="button" aria-label="See features on Sage Business Cloud Accounting - Plus" class="govuk-button compare" data-module="govuk-button" href="product_detail">
                                    See features
                                </a>
                                <a ga-data-action-id="link-comparisontoolviews-productcategory-compare-sage-business-cloud-accounting---plus-9" aria-label="include Sage Business Cloud Accounting - Plus" class="govuk-button button__input compare" data-module="govuk-button" id="prod-9" href="product_comparison">
                                    + Compare
                                </a>
                                <a id="link-comparisontoolviews-productcategory-get-discount-sage-business-cloud-accounting---plus-9" type="button" aria-label="Select Sage Business Cloud Accounting - Plus" class="govuk-button discount" data-module="govuk-button" href="/logged_in_account/start">
                                    Get discount
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="top-line"></div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row frame">
                            <div class="product-image">
                                <div class="image-mask">
                                    <img src="https://www.manage-your-technology-vendor-account.service.gov.uk/uploads/New logo270522121049.jpg" alt="">
                                </div>
                                <a id="link-comparisontoolviews-productcategory-website-sage-business-cloud-accounting---standard-8" href="https://www.sage.com/en-gb/help-to-grow/?utm_source=helptogrow&amp;utm_medium=sitelink&amp;utm_campaign=helptogrowwave1" class="govuk-link">Sage Business Cloud Accounting - Standard</a>
                            </div>
                            <div class="product-details">
                                <div class="govuk-body ">
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum contract term:</strong> 1 month</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Payment term:</strong> Per month, unlimited users</p>
                                    <p class="govuk-!-margin-bottom-2">
                                        <strong>Price (excl. VAT):</strong>
                                        £26.00, Per month
                                    </p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum number of licences:</strong> 1</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Free trial:</strong> No</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Contract discount:</strong> 6 months at 100% off</p>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a id="link-comparisontoolviews-productcategory-features-sage-business-cloud-accounting---standard-8" type="button" aria-label="See features on Sage Business Cloud Accounting - Standard" class="govuk-button compare" data-module="govuk-button" href="product_detail">
                                    See features
                                </a>
                                <a ga-data-action-id="link-comparisontoolviews-productcategory-compare-sage-business-cloud-accounting---standard-8" aria-label="include Sage Business Cloud Accounting - Standard" class="govuk-button button__input compare" data-module="govuk-button" id="prod-8" href="product_comparison">
                                    + Compare
                                </a>
                                <a id="link-comparisontoolviews-productcategory-get-discount-sage-business-cloud-accounting---standard-8" type="button" aria-label="Select Sage Business Cloud Accounting - Standard" class="govuk-button discount" data-module="govuk-button" href="/logged_in_account/start">
                                    Get discount
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="top-line"></div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row frame">
                            <div class="product-image">
                                <div class="image-mask">
                                    <img src="https://www.manage-your-technology-vendor-account.service.gov.uk/uploads/quickbooks-110x110.jpg" alt="">
                                </div>
                                <a id="link-comparisontoolviews-productcategory-website-quickbooks-online---simple-start-14" href="https://quickbooks.intuit.com/uk/?ds_rl=1263531&amp;cid=ppc_G_QB_UK_GGL_B_Quickbooks_LongTail_Exact_Search_ALL_quickbooks+pricing_txt&amp;ds_rl=1263531&amp;gclid=CjwKCAjwmqKJBhAWEiwAMvGt6ADDvLbTKQWbEQO3FODl1-XCirEhthyC5OJ0s4JFTCxE_5orgdJZgRoC67EQAvD_BwE&amp;gclsrc=aw.ds" class="govuk-link">QuickBooks Online - Simple Start</a>
                            </div>
                            <div class="product-details">
                                <div class="govuk-body ">
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum contract term:</strong> 1 month</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Payment term:</strong> Per month, fixed number of users</p>
                                    <p class="govuk-!-margin-bottom-2">
                                        <strong>Price (excl. VAT):</strong>
                                        £12.00, Per month
                                        <span> for 1 user</span>
                                    </p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum number of licences:</strong> 1</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Free trial:</strong> No</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Contract discount:</strong> 12 months at 75% off</p>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a id="link-comparisontoolviews-productcategory-features-quickbooks-online---simple-start-14" type="button" aria-label="See features on QuickBooks Online - Simple Start" class="govuk-button compare" data-module="govuk-button" href="product_detail">
                                    See features
                                </a>
                                <a ga-data-action-id="link-comparisontoolviews-productcategory-compare-quickbooks-online---simple-start-14" aria-label="include QuickBooks Online - Simple Start" class="govuk-button button__input compare" data-module="govuk-button" id="prod-14" href="product_comparison">
                                    + Compare
                                </a>
                                <a id="link-comparisontoolviews-productcategory-get-discount-quickbooks-online---simple-start-14" type="button" aria-label="Select QuickBooks Online - Simple Start" class="govuk-button discount" data-module="govuk-button" href="/logged_in_account/start">
                                    Get discount
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="top-line"></div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row frame">
                            <div class="product-image">
                                <div class="image-mask">
                                    <img src="https://www.manage-your-technology-vendor-account.service.gov.uk/uploads/crunch-premium 110x110 (1).jpg" alt="">
                                </div>
                                <a id="link-comparisontoolviews-productcategory-website-crunch-premium---full-accountancy-solution-18" href="https://www.crunch.co.uk/what-we-do/accounting-limited-companies" class="govuk-link">Crunch Premium - Full accountancy solution</a>
                            </div>
                            <div class="product-details">
                                <div class="govuk-body ">
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum contract term:</strong> 1 month</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Payment term:</strong> Per month, fixed number of users</p>
                                    <p class="govuk-!-margin-bottom-2">
                                        <strong>Price (excl. VAT):</strong>
                                        £115.50, Per month
                                        <span> for 4 users</span>
                                    </p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Minimum number of licences:</strong> 1</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Free trial:</strong> No</p>
                                    <p class="govuk-!-margin-bottom-2"><strong>Contract discount:</strong> None</p>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a id="link-comparisontoolviews-productcategory-features-crunch-premium---full-accountancy-solution-18" type="button" aria-label="See features on Crunch Premium - Full accountancy solution" class="govuk-button compare" data-module="govuk-button" href="product_detail">
                                    See features
                                </a>
                                <a ga-data-action-id="link-comparisontoolviews-productcategory-compare-crunch-premium---full-accountancy-solution-18" aria-label="include Crunch Premium - Full accountancy solution" class="govuk-button button__input compare" data-module="govuk-button" id="prod-18" href="product_comparison">
                                    + Compare
                                </a>
                                <a id="link-comparisontoolviews-productcategory-get-discount-crunch-premium---full-accountancy-solution-18" type="button" aria-label="Select Crunch Premium - Full accountancy solution" class="govuk-button discount" data-module="govuk-button" href="/logged_in_account/start">
                                    Get discount
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row govuk-!-margin-bottom-8">
                    <div class="govuk-grid-column-full compare-products">
                        <input type="submit" id="submit-comparisontoolviews-productcategory-compare-products-footer" name="compare products" class="compareButton govuk-button compare-btn primary govuk-button--disabled" disabled="disabled" value="Compare products">
                    </div>
                </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Miivu8TihpAo6TLS5GPTCZzmuGZa3RmCrWydXR_t31umXeO6r8yVo71zR4C01Alx2PUHfZiNbckphNxxpqhfkKlfwlolwZVz_1vzYdB4SCEPMkmeMfJgLEerDEccULJSgnedJg2aYYWT0-YJwB10Iw"></form>    </div>

    </div>
    {% endblock %}
