
{% extends "layout_accounts.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<style>
  .beis-navy-blue{
    background-color:#1E1A34;
    display: block;
    height: 224px;
    padding-left: 20px;
  }

  .beis-columns {
    float:right;
    color: #ffffff;
    /*border: 1px solid white;*/
    width: 300px;
  }

  .beis_columns_text{
    width: 60%!important;
    float:left!important;
  }

  .beis-white-text{
    color: #ffffff;
  }

  .govuk-\!-padding-right-8 {
    padding-right: 50px !important;

  }

  .hero-banner a.hero-links:link {
    color: #FFB000;
    font-weight: 700;
  }

  .hero-banner h1{
    color: #FFB000;
    font-weight: 700;
  }

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a:first-child {
    font-weight: 700;
  }

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a {
    color: #000;
  }

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="navigation-breadcrumb" id="12">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <a href="/" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
            <a href="/comparison-tool" id="breadcrumb-link-get-your-software-discount-0">Get your software discount</a><span class="next-pointer"> &gt; </span>
            <span>Find software</span>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-width-container beis-navy-blue">
      <div class="beis-columns hero-banner beis_columns_text">
        <h2 class="govuk-heading-s beis-white-text govuk-!-padding-top-6">Thyme hand lotion</h2>
        <h1 class="govuk-!-padding-right-8 govuk-heading-l beis-white-text govuk-!-margin-bottom-3 govuk-!-margin-top-6">
          Welcome to your account,  John
        </h1>
        <!--        <div class="govuk-body govuk-!-padding-right-8 govuk-!-width-one-half">-->
        <div class="">
          <p class="beis-white-text">Get the most out of all the Help to Grow services you use. Your account helps you do more by tracking your progress and offering easy access to your voucher.</p>
        </div>

      </div>∑

      <div class="beis-columns">
        <img src="https://cms.learn-to-grow-your-business.service.gov.uk/uploads/i_Stock_1182622661_fd3a1139ca.jpg" height="274px" width="300px" class="hero-mobile-image">
      </div>

      <div>

      </div>

    </div>



  </div>
  {% endblock %}
