
{% extends "layout_accounts.html" %}

{% block pageTitle %}
Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<style>
  .beis-navy-blue-container{
    display: block;
    height: 224px;
    padding-left: 20px;
  }

  .beis-navy-blue{
    background-color:#1E1A34;
  }

  .beis-columns {
    float:right;
    color: #ffffff;
    /*border: 1px solid white;*/
    width: 300px;
  }

  .beis_columns_text{
    width: 60%!important;
    float:left!important;
  }

  .beis-white-text{
    color: #ffffff;
  }

  .govuk-\!-padding-right-8 {
    padding-right: 50px !important;

  }

  .hero-banner a.hero-links:link {
    color: #FFB000;
    font-weight: 700;
  }

  .hero-banner h1{
    color: #FFB000;
    font-weight: 700;
  }

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a:first-child {
    font-weight: 700;
  }

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a {
    color: #000;
  }

  .tabs a{
    padding: 10px;
    border: 0px solid red;
    font-weight: 700;
    color: #FFB000;
    margin-right: 10px;
  }

  .tabs a.selected{
    background-color: #fff;
    text-decoration: none;
    color: #1E1A34;
  }


  .tabs{
    padding-bottom: 10px;
  }

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a:first-child {
    font-weight: 700;
  }

  .navigation-breadcrumb .govuk-width-container .govuk-grid-column-full a {
    color: #000;
  }


</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="navigation-breadcrumb" id="12">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <a href="/home" id="breadcrumb-link-home">Home</a><span class="next-pointer"> &gt; </span>
            <a href="/account/overview" id="breadcrumb-link-get-your-software-discount-0">My account</a><span class="next-pointer"> &gt; </span>
            <span>Manage account</span>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-width-container beis-navy-blue-container beis-navy-blue">
      <div class="beis-columns beis_columns_text">
        <h1 class="govuk-!-padding-right-8 govuk-heading-l beis-white-text govuk-!-margin-bottom-3 govuk-!-margin-top-6">
          Manage your account
        </h1>
        <!--        <div class="govuk-body govuk-!-padding-right-8 govuk-!-width-one-half">-->
        <div>
          <p class="beis-white-text">Get the most out of all the Help to Grow services you use. Your account helps you do more by tracking your progress and offering easy access to your voucher.</p>
        </div>
      </div>
    </div>


    <div class="govuk-width-container beis-navy-blue govuk-grid-column-full">

      <div class="tabs">
        <a href="overview">Account overview</a>
        <a href="manage_users">Manage users</a>
        <a href="notifications">Notification settings</a>
        <a href="#" class="selected">Remove account</a>
      </div>

    </div>


    <div class="govuk-width-container govuk-grid-column-full govuk-!-margin-top-8">

      <h2 class="govuk-heading-m">Remove account</h2>

      <div class="govuk-!-width-two-thirds">
        <p class="body-text">Removing this account permanently will also remove any access to additional features on the Help to Grow: Digital service.</p>
        <p class="body-text">To remove this bussiness account and all the associated users, contact us using the details below:</p>

        <p class=" govuk-!-margin-top-6"><span class="govuk-!-font-weight-bold">Email</span>
        <br>sme.helptogrow@beis.gov.uk</p>

        <p class="govuk-!-margin-top-6"><span class="govuk-!-font-weight-bold">Call the Assisted Digital Team on</span><br>
        020 7215 5000
        <br>Monday to Friday, 9am to 5pm
        <br><a href="#">Find out about call charges</a> </p>
      </div>


    </div>

  </div>
  {% endblock %}
