
{% extends "layout_plain.html" %}

{% block pageTitle %}
  Help to Grow: Digital - Digital Accounts
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Digital Accounts prototypes
      <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
    </h1>

    <p  class="govuk-body">Follow the links to view the prototype pages.</p>

    <h2 class="govuk-heading-m">Initial flow - v1: (08/08/2022)</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="home">Start page</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
